{{!
    @template mod_cmi5/launch_frame

    Iframe container for embedded AU launch.

    Context variables:
    * launchurl - full launch URL for the AU
}}
<style>
html, body { overflow: hidden; }
</style>
<div class="mod-cmi5-launch-frame vh-100" style="overflow: hidden;">
    <iframe src="{{launchurl}}"
            class="mod-cmi5-iframe w-100 h-100"
            style="border: none; display: block;"
            allowfullscreen
            allow="microphone; camera; autoplay; encrypted-media">
    </iframe>
</div>
{{#js}}
require(['mod_cmi5/launch_frame'], function(LaunchFrame) {
    LaunchFrame.init();
});
{{/js}}
