{{!
    @template mod_cmi5/library_version_usage

    Displays the course activities currently assigned to a package version.
}}

<div class="mod-cmi5-library-usage">
    <div class="mb-3">
        <a href="{{backurl}}" class="btn btn-outline-secondary">
            &laquo; {{#str}}library:backtopackage, cmi5{{/str}}
        </a>
    </div>

    <h3>{{heading}}</h3>
    <p class="text-muted">{{usageintro}}</p>

    {{#hasusage}}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{{#str}}library:course, cmi5{{/str}}</th>
                    <th scope="col">{{#str}}library:activity, cmi5{{/str}}</th>
                    <th scope="col">{{#str}}library:coursevisibility, cmi5{{/str}}</th>
                    <th scope="col">{{#str}}library:activitystatus, cmi5{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#usages}}
                <tr>
                    <td>
                        {{#courseexists}}
                            {{#hascourseurl}}<a href="{{courseurl}}">{{coursename}}</a>{{/hascourseurl}}
                            {{^hascourseurl}}{{coursename}}{{/hascourseurl}}
                        {{/courseexists}}
                        {{^courseexists}}
                            <span class="text-muted">{{#str}}library:missingcourse, cmi5{{/str}}</span>
                        {{/courseexists}}
                    </td>
                    <td>
                        {{#hasactivityurl}}<a href="{{activityurl}}">{{activityname}}</a>{{/hasactivityurl}}
                        {{^hasactivityurl}}{{activityname}}{{/hasactivityurl}}
                        {{^cmexists}}
                            <span class="badge badge-warning bg-warning text-dark">
                                {{#str}}library:missingcoursemodule, cmi5{{/str}}
                            </span>
                        {{/cmexists}}
                    </td>
                    <td>
                        {{#coursevisible}}
                            <span class="badge badge-success bg-success">{{#str}}library:visible, cmi5{{/str}}</span>
                        {{/coursevisible}}
                        {{#coursehidden}}
                            <span class="badge badge-secondary bg-secondary">{{#str}}library:hidden, cmi5{{/str}}</span>
                        {{/coursehidden}}
                        {{^courseexists}}&mdash;{{/courseexists}}
                    </td>
                    <td>
                        {{#cmexists}}
                            {{#activityvisible}}
                                <span class="badge badge-success bg-success">{{#str}}library:visible, cmi5{{/str}}</span>
                            {{/activityvisible}}
                            {{#activityhidden}}
                                <span class="badge badge-secondary bg-secondary">{{#str}}library:hidden, cmi5{{/str}}</span>
                            {{/activityhidden}}
                            {{#pendingdeletion}}
                                <span class="badge badge-warning bg-warning text-dark">
                                    {{#str}}library:pendingdeletion, cmi5{{/str}}
                                </span>
                            {{/pendingdeletion}}
                        {{/cmexists}}
                        {{^cmexists}}&mdash;{{/cmexists}}
                    </td>
                </tr>
                {{/usages}}
            </tbody>
        </table>
    </div>
    {{/hasusage}}

    {{^hasusage}}
        <div class="alert alert-info">{{#str}}library:nousage, cmi5{{/str}}</div>
    {{/hasusage}}
</div>
